[project]
name = "db-copilot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "google-generativeai>=0.8.5",
    "mcp>=1.9.0",
    "psycopg2>=2.9.10",
    "python-dotenv>=1.1.0",
]
